<div align="center">
    <h1>List of bookings</h1>
    <br>
    <% @bookings.reverse_each do |booking| %>

        <div class="card-product d-flex justify-content-between ">
            <div> <%= link_to  "Back", parkings_path, class: "btn btn-info" %> </div>
                <div>
                    <div>
                    <h2> Recent Booking Made </h2>
                    <p>Booked for:  <%= booking.date %></h2></p>
                    <p>Start_Time - <%= booking.start_time.strftime("%I:%M%p") %></p>
                    <p>End_Time - <%= booking.end_time.strftime("%I:%M%p") %> </p>
                    </div>
                </div>
            <div> <%= link_to  "Delete", parking_path(booking), class: "btn btn-danger" %> 
            </div>
        </div>
        <br><br>
    <% end %>
</div>
