<div style="height: 100vh; width: 100vw; background-image: url('https://images.unsplash.com/photo-1621706461816-1309945e0f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); background-repeat: no-repeat; background-size: cover;" >
  <div class="d-flex justify-content-center align-items-center h-100">
  <div class="log-in" style="width:30%">
    <h3 class="text-center">Log in</h3>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn btn-secondary"%>
        <%= render "devise/shared/links"%>
      </div>
    <% end %>
  </div>

  </div>
</div>
