<div>
    <h1>New For Admins</h1>

    <%= simple_form_for [@parking] do |f| %>
    <%= f.input :name, html5: true %>
    <%= f.input :address, html5: true %>
    <%= f.input :description, html5: true %>
    <%= f.input :number_of_slots, html5: true %>
    <%= f.input :photo, as: :file %>
    <%= f.input :payable?, label: "Are you going to charge people for your Parking Space?", collection: ['Yes', 'No'], selected: 'No' %>
    <%= f.input :fees, label: "Fees (Rs)", html5: true%>
    <%= f.submit 'Create Parking Space' %>
    <% end %>
</div>