<!-- Admin code Start-->

<div class="container">
 <% if @user.is_admin %>
  <div>
    <h3 align="center"><%= @parking.name %> </h3>
      <div class="park-show">
        <% if @parking.photo.attached? %>
            <%= cl_image_tag @parking.photo.key, crop: :fill %>
        <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>  <div class="park-show-infos">
        <div>
          <p> Address: <%=  @parking.address %></p>
          <p> Description: <%=  @parking.description %></p>
          <p> Number Of Slots: <%=  @parking.number_of_slots %></p>
          <p>  Rs<%=@parking.fees %></p>
        </div>
        <h2 class="park-show-pricing"><%= link_to  "Edit", edit_parking_path(@parking),class: "btn btn-success" %></h2>
      </div>
   </div>
 </div>
    <%= link_to  "Back", parkings_path ,class: "btn btn-success"%>
    <%= link_to "Delete", parking_destroy_path(@parking), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger"%>
  <!-- Admin code End -->

 <% else %>


  <!-- User code Start-->
    <br>
  <div >
    <h3 align="center"><%= @parking.name %></h3>
      <div class="park-show">
        <% if @parking.photo.attached? %>
          <%= cl_image_tag @parking.photo.key, crop: :fill %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %> <div class="park-show-infos">
          <div>
            <p> Description: <%=  @parking.description %></p>
            <p> Number Of Slots: <%=  @parking.number_of_slots %></p>
            <p><%=@parking.address %></p>
          </div>
          <div>
            <h2 class="park-show-pricing"></h2>
          </div>
          <div>
            <h2 class="park-show-pricing">Rs<%=@parking.fees%>/hr </h2>
          </div>
    </div>
  </div>

</div>
  <div class="text-center m-3">
    <%= link_to  "Back", parkings_path, class: "btn btn-dark p-3" %>
    <%= link_to  "Make Booking", new_parking_booking_path(@parking), class: "btn btn-info p-3" %>
    <%= link_to  "View Reviews",  parking_reviews_path(@parking), class: "btn btn-success p-3" %>
  </div>
<% end %>
</div>

<!-- User code End-->
