<!-- Admin code Start -->
<% if @user.is_admin %>
  <div class="backimg-color"></div>
  <div class="container">
    <div>
    <br><br><br><br><br><br>
      <h3 align="center"><%= @parking.name %> </h3>
        <div class="park-show">
          <% if @parking.photo.attached? %>
            <%= cl_image_tag @parking.photo.key, crop: :fill %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>  
            <div class="park-show-infos">
            <div>
              <p> Address: <%=  @parking.address %></p>
              <p> Description: <%=  @parking.description %></p>
              <p><strong> Available Slots: <%=  @parking.available_slots %> </strong></p>
              <p><strong> Rs <%=@parking.fees %>/Hr</strong></p>
            </div>
              <% if @parking.user_id == @user.id %>
                <%= link_to "", edit_parking_path(@parking),class: "btn btn-info p-3 far fa-edit" %>
              <% end %>
            </div>
          </div>
        </div>
          <div class="text-center">
              <%= link_to  "", parkings_path ,class: "btn btn-dark p-3 fas fa-chevron-circle-left"%> 
              <%= link_to  "View Reviews", parking_reviews_path(@parking), class: "reviewbtn btn btn-info p-3" %>
              <% if @parking.user_id == @user.id %>
                <%= link_to  "View Bookings", parking_bookings_path(@parking), class:"bookingbtn btn btn-primary p-3" %>
                <%= link_to "", parking_destroy_path(@parking), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger  p-3 fas fa-trash"%>
              <% end %>
          </div>
        </div>

  <!-- Admin code End -->

<% else %>

  <div id="banner">
    <% if @parking.photo.attached? %>
      <%= cl_image_tag @parking.photo.key,  crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <% end %>
  </div>

<!-- Banner parking details and booking form -->

<div class="d-flex justify-content-between">
    <div class="banner-text">
      <h2><i class="fas fa-parking"></i> <%= @parking.name %></h2>
      <p><i class="fas fa-map-pin"></i> <%=@parking.address %></p>
      <p><i class="fas fa-comment-medical"></i> <%=  @parking.description %></p>
      <p><i class="fas fa-list-ol"></i> Number of Slots: <%=  @parking.number_of_slots %></p>
      <p><i class="fas fa-list-ol"></i> Available Slots:  <%= @parking.available_slots %></p>
      <p><i class="far fa-credit-card"></i> Rs <%= @parking.fees %>/Hr</p>
    </div>

    <div class="banner-form-booking">
      <h2 id="bookingformtitle">Booking Form</h2>
          <%= simple_form_for [@parking, @booking], method: :post do |f| %>
              <%= f.input :date, as: :date, html5: true %>
              <%= f.input :start_time %>
              <%= f.input :end_time %>
            <%= f.button :submit, "Book Me", class:"btn btn-success btn-block" %>
          <% end %>
    </div>
</div>  

<!--  Reviews -->

<div class="container-reviews"  id="user-show-reviews">

<%= link_to  "", parkings_path, class: "btn btn-dark btn-lg fas fa-backward" %>

  <h2>Reviews on <%= @parking.name %> </h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Review Number</div>
      <div class="col col-3">Feedback</div>
      <div class="col col-2">Rating (out of 5)</div>
      <div class="col col-2">Username</div>
      <div class="col col-1">Cancel Booking</div>
    </li>
  
  <% count = 1 %>
  <% @reviews.reverse_each do |review| %>
    <% if review.parking_id == @parking.id%>
    <li class="table-row">
      <div class="col col-1" > <%= count %> </div>
      <% count += 1 %>
      <div class="col col-3" > <%= review.content  %> </div>
      <div class="col col-2"><%= review.rating  %></div>
      <div class="col col-2"><%= review.user.first_name %></div>
      <div class="col col-1">
      <%= link_to "", parking_review_path(@parking, review), method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-danger  p-3 fas fa-trash"%>
      </div>
    </li>
    <% end %>
  <% end %>

  <%= simple_form_for  [@parking, @review] do |f| %>
    <li class="table-row">
      <div class="col col-1" ><strong>Add Review</strong></div>
      <div class="col col-3" ><strong><%= f.input :content,label: "Feedback" %></strong></div>
      <div class="col col-2" ><strong><%= f.input :rating, label: "", collection: 1..5%></strong></div>
      <div class="col col-2"  ><strong><%= f.submit "+", class: "btn btn-success form-font" %></strong></div>
    </li>
  </ul>
  <% end %>
</div>

<% end %>


