<div class="container">
        <br><br><br>
    <h1>All reviews</h1>

    <% @reviews.each do |review| %>
    <ul>
        <li>
            Feedback: <%= review.content  %> ////////////////////
            Rating: <%= review.rating  %> / 5 ////////////////////
            <%= link_to "Delete Review", parking_remove_path(@parking, review), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
    </ul>
    <% end %>

    <%= link_to  "Create a Review", new_parking_review_path, class: "btn btn-info p-3" %>

    <%= link_to  "Back", parking_path(@parking), class: "btn btn-success p-3" %>
</div>